{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "dynamic-import-node",
    "source-map-support",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "sourceMaps": "both"
}
